/* Make papers and people the same height */
#research article, #people section, #datasets article {
	min-height: 100%;
} 


/* news	*/
#top section p {
	font-size: 1.25em;
	line-height: 1.5em;
}


/* Custom font sizing for ipad  */
@media screen and (max-width: 1280px) {

	/* Re-scale image to match increased font size */
	#top .image {
	    width: 20em;
	    height: 20em;
	}

	/* Make default font size much larger	*/
	body, input, textarea, select  {
		font-size: 14pt;
	}

	/* Resize welcome header	*/
	h1 { 
		font-size: 2.5em;
	}

	/* Blurb font size	*/
	#top p {
		font-size: 1.2em;
	}

	/* News padding	*/
	#top section {
		padding: 1.5em 1em 1.75em 1em;
	}

	/* News font size	*/
	#top section p {
		font-size: 1.0em;
		line-height: 1.5em;
	}
}


@media screen and (max-width: 736px) {
	/* Re-scale image to match increased font size */
	#top .image {
	    width: 14em;
	    height: 14em;
	}

	/* Resize welcome header	*/
	h1 { 
		font-size: 2.2em;
	}

	/* News font size */
	#top section p {
		font-size: 1em;
	}

	/* Base font size much larger */
	body, input, textarea, select {
		font-size: 16pt;
	}

	/* Slightly larger navbar */
	#nav {
		height: 45px;
		line-height: 45px;
	}
	/* but make sure the font size fits */
	#nav a {
		font-size: 0.8em;
	}
}


@media screen and (max-width: 350px) {
	#top .image {
	    width: 12em;
	    height: 12em;
	}

	#nav a {
		font-size: 0.6em;
	}
}


/* Make links inherit color */
#research p a, #people p a {
	color: inherit;
}

.spacer { 
	padding-left:5px;
	padding-right:5px;
}

@media screen and (min-width: 980px) {
	#datasets {
		.box.style2 .image {
			position: relative;
			left: 1em;
			top: 1em;
			margin: -2em 0 1.5em -2em;
			width: auto;
		}
		.box {
			padding: 1em;
		}
		/* img {
			padding: 1.1em;
		} */
		/* img {
			width: 139px;
		} */
		article {
			/* padding: 15px; */
			/* width: 184px; */
			/* text-align: center; */
		}
		h3 { 
			font-size: 0.8em;
			/* margin-left: -15px; */
			/* text-align: center; */
			/* min-width: 184px; */
		}
		/* padding: 15px; */
	}
}

#datasets {
	.box.style2 h3 {
		margin-bottom: 0em;
	}
	.box {
		/* padding-bottom: 0.75em; */
	}
}

.center {
	display: flex;
    align-items: center;
    justify-content: center
}