body {
	color: #555;
}

body, input, textarea, select {
    font-size: 13pt;
}

.thumbnail-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	height: 100%;
	margin: 5rem 2rem 5rem 2rem;
}

.thumbnail-article {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0;
	gap: 5px;
}

.thumbnail-card{
	flex: 0 0 0;
	text-align: center;
	border-radius: 5px;
	border: solid 1px #1A56B018;
	padding: 0.1em;
	display: flex;
	justify-content: center;
	flex-direction: column;
	white-space: nowrap;
	width: 100%;
	height: 100%;
}

.thumbnail-image{
	display: block;
	width: 100px;
	height: 60px;
	object-fit: cover;
	border-radius: 5px;
}

.thumbnail-card a{
	font-size: 0.8rem;
}

.dataset-image {
	flex: 0 0 auto;
	max-width: 300px;
	border-radius: 20px;
	border: solid 1px #1A56B018;
	width: 100%;
	height: 100%;
	margin-bottom: 30px;

}

.dataset-image img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.dataset-card-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-bottom: 14rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.dataset-card-container article{
	flex: 0 0 0;
}

.dataset-card-container:before {
	position: absolute;
	content: "";
	border-radius: 2000px 2000px 0 0;
    z-index: -1; 
    background-color: #E7ECF9;
	justify-self: center;
	width: 160vw;
    bottom: 0;  
    right: 0;
	top: 0;
	left: 0;
}



/* Primary Button */

input[type="button"].fix,
input[type="submit"].fix,
input[type="reset"].fix,
button.fix,
.button.fix {
	position: relative;
	color: #2A305F;
	border: none;
	outline: none;
	box-shadow: 0px 2px 0px 0px #DFC687;
	background-color: #F7E800;
	top: 0;
}

input[type="button"].fix:hover,
input[type="submit"].fix:hover,
input[type="reset"].fix:hover,
button:hover,
.button:hover {
	background-color: #fff454;
	color: #946ca5;
}

input[type="button"].fix:active,
input[type="submit"].fix:active,
input[type="reset"].fix:active,
button:active,
.button:active {
	background-color: #dcb51a;
	color: #2A305F;
	top: 3px;
	box-shadow: 0px 0px 0px 0px;
}

#intro {
	padding-top: 10rem;
	padding-bottom: 2rem;

}

	#intro h1 {
		margin-top: 0.35em;
	}

	#intro p {
		font-size: 1.1em;
		line-height: 1.75em;
	}

		#intro p a {
			color: inherit;
		}
